{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <iframe
                                                src="https://metabase.shomvob.co/public/question/761c56c4-d909-425f-b9d5-5add656d15ba"
                                                frameborder="0"
                                                width="800"
                                                height="400"
                                                allowtransparency
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <iframe
                                                src="https://metabase.shomvob.co/public/question/6b1500ae-5bf4-495d-9ca2-cf6d8184b57a"
                                                frameborder="0"
                                                width="800"
                                                height="400"
                                                allowtransparency
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <iframe
                                                src="https://metabase.shomvob.co/public/question/761c56c4-d909-425f-b9d5-5add656d15ba"
                                                frameborder="0"
                                                width="800"
                                                height="400"
                                                allowtransparency
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <iframe
                                                src="https://metabase.shomvob.co/public/question/761c56c4-d909-425f-b9d5-5add656d15ba"
                                                frameborder="0"
                                                width="800"
                                                height="400"
                                                allowtransparency
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!--[ daily sales section ] start-->
                                <div class="col-md-12 col-xl-12">
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <iframe
                                                src="https://metabase.shomvob.co/public/question/761c56c4-d909-425f-b9d5-5add656d15ba"
                                                frameborder="0"
                                                width="800"
                                                height="400"
                                                allowtransparency
                                            ></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
