{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube" style="height: 400px;">
                                <div class="embed-responsive embed-responsive-16by9" style="height: 100%;">
                                    <iframe class="embed-responsive-item" src="https://metabase.shomvob.co/public/question/761c56c4-d909-425f-b9d5-5add656d15ba" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube" style="height: 400px;">
                                <div class="embed-responsive embed-responsive-16by9" style="height: 100%;">
                                    <iframe class="embed-responsive-item" src="https://metabase.shomvob.co/public/question/6b1500ae-5bf4-495d-9ca2-cf6d8184b57a" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube" style="height: 400px;">
                                <div class="embed-responsive embed-responsive-16by9" style="height: 100%;">
                                    <iframe class="embed-responsive-item" src="https://metabase.shomvob.co/public/question/c126e95a-13ff-418f-a904-c2b9dced1d2b" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
